<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p><a href="/account-settings">Управление аккаунтом</a></p>
    <p><a href="/myboards">Ваши доски</a></p>

    <p><a href="/shared-with-me">Доступные вам</a></p>

    <button onclick="searchBoard()">Найти доску</button>
    <button onclick="createNewBoard()">Новая доска</button>

    <script type="text/javascript" src="/static/personal_home.js"></script>
</body>

</html>